#page-auth {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background-image: linear-gradient(to right, var(--light-green), var(--medium-green));
    color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 2.6rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 18px;
      margin-top: 1rem;
      color: var(--black);
    }
  }

  main {
    flex: 8;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, var(--dark-green), var(--black));
  }

  @media (max-width: 730px) {
    flex-direction: column;
    aside {
      display: none;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  align-items: stretch;
  text-align: center;

  > img {
    align-self: center;
  }

  h2 {
    font-size: 1.5rem;
    margin: 4rem 0 1.5rem;
    font-family: "Poppins", sans-serif;
    color: var(--medium-green);
  }

  form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 1rem;
      background: var(--light-green);
      border: 1px solid var(--light-red);
    }

    button {
      margin-top: 1rem;
    }

    button,
    input {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    color: var(--medium-green);
    margin-top: 1rem;
    a {
      color: var(--light-red);
      text-decoration: none;
      :hover {
        filter: brightness(0.9);
      }
    }
  }

  .reponsive-title {
    font-size: 1.2rem;
    line-height: 18px;
    margin-top: 3rem;
    display: none;
    @media (max-width: 730px) {
      display: block;
    }
  }

  .create-room {
    margin-top: 34px;
    height: 50px;
    border-radius: 0.5rem;
    font-weight: 500;
    background-color: var(--red);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .separator {
    font-size: 14px;
    color: var(--light-green);
    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--light-green);
      margin-right: 1rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: var(--light-green);
      margin-left: 1rem;
    }
  }
}
