#page-auth {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background-image: linear-gradient(to right, #74c69d, #40916c);
    color: #081c15;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px "Poppins", sans-serif;
      line-height: 2.6rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.4rem;
      line-height: 18px;
      margin-top: 1rem;
      color: #081c15;
    }
  }

  main {
    flex: 8;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #1b4332, #081c15);
  }

  @media (max-width: 730px) {
    flex-direction: column;
    aside {
      display: none;
    }
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 20rem;
  align-items: stretch;
  text-align: center;

  > img {
    align-self: center;
  }

  h2 {
    font-size: 1.5rem;
    margin: 4rem 0 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #40916c;
  }

  form {
    input {
      height: 50px;
      border-radius: 8px;
      padding: 0 1rem;
      background: #b7e4c7;
      border: 1px solid #ff6b6b;
    }

    button {
      margin-top: 1rem;
    }

    button,
    input {
      width: 100%;
    }
  }

  p {
    font-size: 14px;
    color: #40916c;
    margin-top: 1rem;
    a {
      color: #ff6b6b;
      text-decoration: none;
      :hover {
        filter: brightness(0.9);
      }
    }
  }

  .reponsive-title {
    font-size: 1.2rem;
    line-height: 18px;
    margin-top: 3rem;
    display: none;
    @media (max-width: 730px) {
      display: block;
    }
  }

  .create-room {
    margin-top: 34px;
    height: 50px;
    border-radius: 0.5rem;
    font-weight: 500;
    background-color: #ea4335;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0;
    transition: filter 0.2s;

    img {
      margin-right: 0.5rem;
    }

    &:hover {
      filter: brightness(0.8);
    }
  }

  .separator {
    font-size: 14px;
    color: #d8f3dc;
    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      flex: 1;
      height: 1px;
      background: #d8f3dc;
      margin-right: 1rem;
    }

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #d8f3dc;
      margin-left: 1rem;
    }
  }
}
